body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dado-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dado-content .title {
    font-size: 16px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.section-dado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;

}

.numSorteado {
    background-color: rgb(61, 51, 204);
    padding: 4px 8px;
    color: #fff;
    font-size: 12px;
    border-radius: 70%;
    margin-bottom: 8px;
}

.btnSortear {
    margin-top: 30px;
    padding: 4px 4px;
    border-radius: 5px;
    background-color: rgb(85, 0, 255);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.imgDado {
    cursor: no-drop;
    width: 90%;
}

.animar {
    animation: mexer .5s infinite alternate;
}

.someBtn {
    display: none;
}

.apareceBtn {
    display: block;
}

.some {
    opacity: .08;
}

.aparece {
    opacity: 1;
    transition: .5s ease-in-out;
}

@keyframes mexer {
    0% {
        transform: translateY(0);
        transform: rotate(45deg);
        opacity: 0;
    }

    50% {
        transform: scale(50%);
    }

    100% {
        transform: translateY(-15px);
        transform: rotate(-45deg);
        opacity: 1;
    }
}

@media screen and (min-width: 400px) {
    .dado-content .title {
        font-size: 26px;
    }

    .numSorteado {
        padding: 6px 12px;
        font-size: 15px;
    }
}

@media screen and (min-width: 600px) {
    .dado-content .title {
        font-size: 40px;
    }
}

@media screen and (min-width: 1000px) {
    .dado-content .title {
        font-size: 50px;
    }

    .numSorteado {
        padding: 10px 16px;
        font-size: 15px;
    }
}